body{
    background-color: #3f3f3f;
}
header{
    background-color: #333;
    border: 2px solid #333;
}
.search{
    background-color: #333;
    border: 1px solid #3f3f3f;
    color: rgb(136, 136, 136);
}
#searchresultscontainer{
    border: 1px solid #3f3f3f;
}
a{
    color: rgb(136, 136, 136);
}
.choose{
    background-color: #333;
    border: 3px solid rgb(232, 46, 46);
}
h2{
    color: rgb(191, 191, 191);
}
header button{
    color: rgb(136, 136, 136);
}
header input{
    background-color: #333;
    color: rgb(136, 136, 136);
}
.basket{
    background-color: #333;
    color: rgb(136, 136, 136);
}
.basket button{
    color: rgb(136, 136, 136);
}

.listing{
    background-color: #333;
    color: rgb(136, 136, 136);
    
}
.addtocart{
    color: #333;
    font-weight: 700;
}
h1{
    color: black;
}