@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Poppins:wght@400;500&display=swap');
@media screen and (max-width: 873px) {
    body{
        width:100%;
    }
  }

.hidden { display: none; }
body{
    font-family: "Nunito";
    font-weight: 600;
    margin: 0;
    transition: 0.5s;
    overflow-x: hidden;
    /* width: 200%; */
}
main{
    flex-direction: column;
    align-items: center;
    display: flex;
}
header{
    font-family: "Poppins";
    margin: 0px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    position: sticky;
    transition: 0.5s;
    display: flex;
}
header div{
    display: flex;
    align-items: center;
}
h1{
    margin: 15px;
}
h1 span{
    color: rgb(232, 46, 46);
}
button{
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    font-family: "Nunito";
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    font-size: medium;
    font-weight: 600;
    transition: 0.3s;
}
header button{
    width: 50px;
    height: 50px;
}
header button:hover{
    transform: scale(110%);
}
.choose{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
a{
    display: block;
    width: 200px;
    margin: 10px;
    text-decoration: none;
}
.choose img{
    height: 130px;
    margin: 7px ;
}
main h2{
    font-size: xx-large;
    transition: 0.5s;
}
#searchResultsContainer {
    max-height: 250px;
    overflow-y: auto;
    position: absolute ;
    top:70px; left: 218px;
    border-radius: 12px;
    scrollbar-width: none;
    transition: 0.5s;
    width: 230px;
    padding-right: 10px;
    
}

#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#searchResults li {
    transition: 0.5s;
    padding: 10px;
}

#searchResults li:last-child {
    border-bottom: none; /* Remove bottom border for the last list item */
}
header input{
    font-weight: 600;
    font-family: "Nunito";
    width: 200px;
    padding: 11.5px 20px;
    border-radius: 12px;
    border: 3px solid rgb(232, 46, 46);
    outline: 0;
    margin: 5px;
    transition: 0.5s;
    height: 22.2px;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 46, 46);
    width:100%;
    color:rgb(233, 233, 233);
    height: 50px;
}
.listing{
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    padding: 12px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    transition: 0.5s;
    height: 355px;
}
.listing img{
    height: 230px;
}
.price{
    color: rgb(232, 46, 46);
    font-size: 23px;
    margin: 15px 7px;
}
.addtocart{
    background-color: rgb(232, 46, 46); 
    color: white;
}
.addtocart:hover{
    background-color: rgb(186, 12, 12);
    border-color: rgb(186, 12, 12);
}
.container{
    width: 80%;
    max-width: 1115.2px;
    display: flex;
    flex-direction: column;
}
.brand{
    display: flex;
    flex-wrap: wrap;
}
.items{
    position: absolute;
    top: 0px;
    left: 680px;
    background-color: rgb(232, 46, 46);
    border-radius: 100%;
    width: 20px;
    text-align: center;
}
.basket{
    border: 3px solid rgb(232, 46, 46);
    width: 400px; 
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 70px; left: 270px;
    background-color: white;
    height: 530px;
    overflow-y:visible;
    scrollbar-width: none;
    transition: 0.5s;
    z-index: 100;
}
.product{
    margin: 5px;
}
.removeBtn{
    margin: 0px;
}
#customScrollbar {
    position: absolute;
    top: 0;
    right: 0; /* Adjust the positioning as needed */
    width: 8px; /* Adjust the width as needed */
    background-color: rgb(232, 46, 46); /* Adjust the color as needed */
    border-radius: 4px; /* Rounded corners */
    margin: 2px;
}
#customScrollbar:hover {
    cursor: pointer;
}
#productList {
    max-height: 350px;
    overflow-y: scroll;
    padding-right: 20px; /* Space for the custom scrollbar */
    scrollbar-width: none;

}
#productListContainer {
    position: absolute;
    height: auto; 
    overflow-y: scroll;
    max-height: 400px;
    scrollbar-width: none;
    padding-right: 20px;
}
#productList::-webkit-scrollbar-button {
    display: none;
}
.banner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: -56.25%;
    z-index: -100;
}
.cardholder{
    display: flex;
    width: 90%;
}
.card{
    width: 400px;
    height: 400px;
    background-color: #222;
}
.cardholder a{
    width: auto;
}
.bg{
    position: absolute;
    top: 1;
    left: 0;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(20px);
}

.bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid video {
    width: auto;
    height: 250%;
    z-index: 1;
    max-width: 100%;
}
.alt-l{
    display: flex;
    flex-direction: row ;
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    /* padding: 12px; */
    background-color: white;
    margin: 10px;
    align-items: center;
    width: 420px;
    transition: 0.5s;
    padding: 12px 20px;
}
.alt-l div{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.alt-l .price{
    margin: 10px 5px;
}
.alt-l h3{
    margin: 5px 5px;
}