@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Poppins:wght@400;500&display=swap');
@media screen and (max-width: 834px) {
    .cardholder{
        flex-direction: column;
    }
    .cardholder a{
        display: flex;
        justify-content: center;
    }
  }
  @media screen and (max-width:469px) {
    html, body {
        overflow-x: hidden;
        }
  }
  @media screen and (max-width: 588px) {
    #searchResultsContainer {
        top: 140px !important;
        left: 15% !important;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .banner{
        height:215px !important;
    }
    .basket {
        top: 145px !important;
        left: 2% !important;
        width: 90% !important;
        height: 73% !important;
    }
    .card{
        width: 100% !important;
        height: auto !important;
    }
    .cardholder a img{
        width: 100% !important;   
    }
}
@media screen and (max-width: 768px) {
    #cart{
        margin: 5px !important;
    }
    #basketContainer{
        flex-direction: column !important;
        align-items: center !important;
        height: auto!important;
    }
    .basket{
        width: 101% !important;
        height: 440px !important;
        
    }
    #productListContainer{
        height: 440px !important;
        width: 86% !important;
    }
    .things{
        width: 95% !important;
        margin: 15px;
    }
    #productList{
        height: 440px !important;
    }
}
.hidden { display: none; }
body{
    font-family: "Nunito";
    font-weight: 600;
    margin: 0;
    transition: 0.5s;
}
main{
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}
header{
    font-family: "Poppins";
    margin: 0px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    position: sticky;
    transition: 0.5s;
    display: flex;
}
header div{
    display: flex;
    align-items: center;
}
h1{
    margin: 15px;
    width: fit-content;
}
h1 span{
    color: rgb(232, 46, 46);
}
button{
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    font-family: "Nunito";
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    font-size: medium;
    font-weight: 600;
    transition: 0.3s;
}
header .btn{
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    font-family: "Nunito";
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    font-size: medium;
    font-weight: 600;
    transition: 0.3s;
    width: 25.2px;
    height: 25.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .btn i{
    position: relative;
    top: 22px;
    left: 0px;
}
header button{
    width: 50px;
    height: 50px;
}
button:hover{
    transform: scale(110%);
}
header .btn:hover{
    transform: scale(110%);
}
header a{
    margin: 0;
    width: fit-content;
}
.choose{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
a{
    display: block;
    width: 200px;
    margin: 10px;
    text-decoration: none;
}
.choose img{
    height: 130px;
    margin: 7px ;
}
main h2{
    font-size: xx-large;
    transition: 0.5s;
}
#searchResultsContainer {
    max-height: 250px;
    overflow-y: auto;
    position: absolute ;
    top:70px; left: 340px;
    border-radius: 12px;
    scrollbar-width: none;
    transition: 0.5s;
    width: 230px;
    padding-right: 10px;
    display: none;
}

#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#searchResults li {
    transition: 0.5s;
    padding: 10px;
}

#searchResults li:last-child {
    border-bottom: none; /* Remove bottom border for the last list item */
}
header input{
    font-weight: 600;
    font-family: "Nunito";
    width: 200px;
    padding: 11.5px 20px;
    border-radius: 12px;
    border: 3px solid rgb(232, 46, 46);
    outline: 0;
    margin: 5px;
    transition: 0.5s;
    height: 22.2px;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 46, 46);
    width:100%;
    color:rgb(233, 233, 233);
    height: 50px;
}
.listing{
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    padding: 12px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    transition: 0.5s;
    height: 355px;
}
.listing img{
    height: 230px;
}
.price{
    color: rgb(232, 46, 46);
    font-size: 23px;
    margin: 15px 7px;
}
.addtocart{
    background-color: rgb(232, 46, 46); 
    color: white;
}
.addtocart:hover{
    background-color: rgb(186, 12, 12);
    border-color: rgb(186, 12, 12);
}
.container{
    width: 80%;
    max-width: 1115.2px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    font-size: small;
    font-weight: 100;
    color: white;
    position: relative;
    top: -50px;
    left: 20px;
    background-color: rgb(232, 46, 46);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket{
    /* border: 3px solid rgb(232, 46, 46);
    width: 400px; 
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    background-color: white;
    height: 530px;
    overflow-y:visible;
    scrollbar-width: none;
    transition: 0.5s;
    z-index: 100; */
    display: flex;
    width: 60%;
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    margin: 0px 10px;
    background-color: white;
    transition: 0.5s;
}
#basketContainer{
    margin: 1%;
    width: 95%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    height: 500px;
    justify-content: center;
}
.product{
    margin: 10px;
    text-align: left;
}
.removeBtn{
    margin: 0px;
}
#customScrollbar {
    position: absolute;
    top: 0;
    right: 0; /* Adjust the positioning as needed */
    width: 8px; /* Adjust the width as needed */
    background-color: rgb(232, 46, 46); /* Adjust the color as needed */
    border-radius: 4px; /* Rounded corners */
    margin: 2px;
}
#customScrollbar:hover {
    cursor: pointer;
}
#productList {
    height: 500px;
    overflow-y: scroll;
    padding-right: 20px; /* Space for the custom scrollbar */
    scrollbar-width: none;
    height: 500px;
    width: 90%;
}
#productListContainer {
    position: absolute;
    overflow-y: scroll;
    height: 495px;
    scrollbar-width: none;
    padding-right: 20px;
    width:53%;
}
#productList::-webkit-scrollbar-button {
    display: none;
}
.banner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: -56.25%;
    z-index: -100;
}
.cardholder{
    display: flex;
    width: 90%;
    justify-content: center;
}
.card{
    width: 400px;
    height: 225px;
    border-radius: 12px;
    background-color: #222;
}
.cardholder a{
    width: auto;
}
.bg{
    position: absolute;
    top: 1;
    left: 0;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(20px);
}

.bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid video {
    width: auto;
    height: 250%;
    z-index: 1;
    max-width: 100%;
}
.alt-l{
    display: flex;
    flex-direction: row ;
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    /* padding: 12px; */
    background-color: white;
    margin: 10px;
    align-items: center;
    width: 420px;
    transition: 0.5s;
    padding: 12px 20px;
}
.alt-l div{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.alt-l .price{
    margin: 10px 5px;
}
.alt-l h3{
    margin: 5px 5px;
}
.ccontainer{
    width: 90%; 
    max-width: 660px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.things{
    padding: 10px;
    width: 250px;
    height: auto;
    border-radius: 12px;
    border: 3px solid rgb(232, 46, 46);
    background-color: white;
    transition: 0.5s;
}
.promocode{
    border: 3px solid rgb(232, 46, 46);
    border-radius: 12px;
    height: 40px;
    font-weight: 600;
    font-family: "Nunito";
    outline: 0;
    transition: 0.5s;
    padding: 0px 7px;
    width: 106.2px;
}
.promo-code-section{
    display: flex;
    align-items: center;
}